body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lightgray
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  display: inline;
}

.event_info_group{
  display: flex;
  align-items:stretch;
}

.event_info_date{
  list-style: none;
  flex-grow: 1;
}

.event_info_count{
  display: flex;
  justify-content: flex-end;
}

.event_info_updatedate{
  display: flex;
  justify-content: flex-end;
}

.event_info_icon{
  vertical-align:top;
}

.event_info_span{
  display:inline-block;
  line-height:24px;
}

.event_detail{
  background-color: #0F1F3D;
  color: #fff;
}
.event_status{
  display: flex;
  align-items:stretch;
  margin: 0 5%;
}
.event_status_title{
  padding: 5% 0;
  color:  #000;
  margin:  10px 10px 10px 0px;
  text-align: left;
  flex-grow: 1;    
}

.event_status_input{
  padding: 5% 0;
  width: 50px;
  color:  #000;        
  margin:  10px;          
  border-radius:  5px;   
  font-size: 100%;       
  text-align:  center;    
}

.event_status_item{
  padding: 5% 0;
  color:  #000;      
  margin:  10px;         
  border-radius:  5px;  
  font-size: 15px;      
  text-align:  center; 
}

.event_info_updatebutton{
  display: flex;
  justify-content:center;
  padding-bottom: 25px;
}